Package: com.laughing-buddha-software.CustomBrightness-flipswitch
Name: CustomBrightness
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Version: 0.0.1
Architecture: iphoneos-arm
Description: A Simple Switch for the Flipswitch API!
Maintainer: Harshad
Author: Harshad
Section: Addons (Flipswitch)