Package: com.laughing-buddha-software.custombrightness
Name: CustomBrightness
Version: 0.3b
Architecture: iphoneos-arm
Description: CustomBrightness allows you to specify the how bright your screen should be relative to the ambient light.
 The app works in background and is intended to be a replacement for the automatic brightness adjustment feature of iOS.
Maintainer: Harshad
Author: Harshad
Section: Utilities
